<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body>

    <!-- Information -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xxl-7">
                <div class="row text-center container-bg">
                    <div class="col-12">
                        <h1 class="title-info"><%= title %></h1>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="responsive-layar">
                            <% if (geolocation.country === "ID") { %>
                                <p>Hallo User Api<strong>BetaBotz</strong>Domain Api BetaBotz sudah diganti mulai dari<b>7 Januari 2023</b> dikarenakan domain .org akan mengalami expired oleh karena itu domain berganti ke api.betabotz.eu.org, Jangan lupa join group api agar ga ketinggalan info api: https://chat.whatsapp.com/Lni6UJKG81WFQcNk1F7MOI</p>
                            <% } else { %>
                                <p>Hallo User Api<strong>BetaBotz</strong>The BetaBotz Fire Domain has been changed starting from<b>7 January 2023</b> because the .org domain will expire, therefore the domain changes to api.betabotz.eu.org,Don't forget to join the api group so you don't miss any api info: https://chat.whatsapp.com/Lni6UJKG81WFQcNk1F7MOI</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="powered-footer">
        <span>© Thanks To <a href="https://github.com/cakrayp">"Cakra For Template Maintenance"</a></span>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
